html {
  width: 100vw;
  display: flex;
}

#root {
  box-shadow:
    -5px 0px 5px rgba(0, 0, 0, 0.1),
    5px 0px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  min-height: 1000px;
}

.radio-input {
  display: none;
}
